*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
}

// header started

.bg-img {
  background-image: url("./images/back.png");
}

.nav-item1 {
  margin-left: 492px;
}

.head-text {

  display: flex;
  gap: 164px;
  margin-top: 72px;
  justify-content: center;
}

.text-box {
  max-width: 696px;
  margin-top: 96px;
  margin-right: 48px;
  display: flex;
  flex-direction: column;
}

.head-text h1 {
  color: var(--neutral-900, #111827);
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 72px;
letter-spacing: -1.5px;
}

.text-box p {
  padding-top: 16px;
  margin-bottom: 32px;
  color: var(--neutral-700, #374151);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.btns {
  display: flex;
  gap: 16px;

}

.vid {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn a {
  text-decoration: none;
  padding: 16px 24px;
  color: white;
  background-color: #7C3AED;
  border-radius: 8px;
}

.vid a {
  text-decoration: none;
  color: #7C3AED;
  padding-left: 0;
}

// header finished

// main started



.lines-logos {
  margin-top: 50px;
  margin-left: 112px;
  max-width: 1219px;
  height: 110px;
  border-top: 1px solid #E5E7EB;
  border-bottom: 1px solid #E5E7EB;
}

.logotips {
  display: flex;
  justify-content: center;
  gap: 64px;
  padding: 42px;

}

#features {
  padding: 96px 112px;
}

.tailor-txt {
  text-align: center;
}

.tailor-txt h2 {
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -1.2px;
}

.tailor-txt p{
  color: var(--neutral-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.justy {
  display: flex;
  text-align: center;
  gap: 30px;
}

.headline {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
}

// Section stories started


.bg-box {
  width: 1440px;
  height: 892px;
  background-color: #D5FAFC;
  position: relative;
}


.real-box {
  max-width: 488px;
  max-height: 312px;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  margin-top: 196px;
}

.real-stories {
  display: flex;
  gap: 32px;
}

.absolyute {
  position: absolute;
  top: 64px;
  left: -104px;
}

.real-name {
  display: flex;
  position: relative;
  padding-top: 120px;
  margin-left: 216px;
}

.get {
  width: 488px;
  height: 156px;
}


.get h2 {
  color: var(--neutral-900, #111827);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
letter-spacing: -1.2px;
}

.get p {
  color: var(--neutral-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.quote {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote p {
  color: var(--neutral-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.hisname {
  margin-left: 32px;

}

.hisname h3 {
  color: var(--neutral-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}

.hisname p{
  color: var(--neutral-500, #6B7280);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.hub-spot {
  display: flex;
  gap: 32px;
  margin-left: 320px;
}

.hub {

  position: absolute;
  width:384px;
  height: 396px;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  top: 340px;

}

.spot {
  position: absolute;
  margin-top: 32px;
  width: 384px;
  height: 256px;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  left: 736px;
}


// prising section started

.price {
  padding: 80px 112px;
  display: flex;
  gap: 32px;
  align-items: center;
}

.age {
  width: 592px;
  height: 156px;
}

.age h3 {
  color: var(--neutral-900, #111827);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -1.2px;
}

.users {
  width: 328px;
  height: 64px auto;
  display: flex;
  gap: 16px;
  align-items: center;
}

.users h4 {
  color: var(--neutral-900, #111827);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 45px; /* 125% */
letter-spacing: -0.9px;
}

.user-day {
  display: flex;
  gap: 32px;
}

.real-price {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

//easy section started

.tool-box {
  padding: 80px 112px;
  display: flex;
  gap: 110px;
  align-items: center;

}

.tool-text {
  width: 488px;
  height: 264px;
}

.tool-text h2 {
  color: var(--neutral-900, #111827);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
letter-spacing: -1.2px;
margin-bottom: 8px;
}

.tool-text p {
  color: var(--neutral-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}

.icons {
  width: 540px;
  height: 270px;
  border-bottom-left-radius: 270px;
  border-bottom-right-radius: 270px;
  background-color: #EDE9FE;
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 20px;
}

.line {
  display: flex;
  justify-content: space-around;
}

.line2 {
  display: flex;
margin-left: 120px;
gap: 20px;
}
