/* Style for Tablet */

@media (max-width: 768px) {


  .container {
    max-width: 768px;
  }

  .nav-item1 {
    margin-left: 0px;
  }

  .head-text {
    flex-wrap: wrap;
  }

  .head-text h1 {
    font-size: 48px;
    letter-spacing: -1.2px;
    line-height: 60px;
  }

  .text-box {
    margin-right: 0px;
    margin-left: 40px;
  }

  .logotips {
    flex-wrap: wrap;
    padding: 24px 0px;
  }

  .lines-logos {
    margin-left: 0px;
    height: 168px;
  }

  #features {
    padding: 80px 40px;
  }


  .bg-box {
    width: 768px;
    height: 1165px;
    padding: 120px 40px 40px 80px;

  }

  .real-box {
    max-width: 688px;
    max-height: 284px;
    margin-top: 0px;
  }

  .real-stories {
    flex-wrap: wrap;
  }

  .absolyute {
    top: 64px;
    left: -104px;
  }

  .hub-spot {
    flex-wrap: wrap;
    margin-left: 0px;
  }


  .hub {
    width: 648px;
    height: 305px;
    top: 542px;

  }

  .spot {

    width: 648px;
    height: 228px;
    background-color: #ffffff;
    top: 840px;
    left: 80px;
  }


  .real-name {
    padding-top: 0px;
    margin-left: 0px;
  }

  .absolyute {
    top: -58px;
    left: -25px;
  }

  .get {
    width: 688px;
    height: 81px;
  }

  .get h2 {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.9px;
  }

  /* price section started */

  .price {
    padding: 80px 40px;
    flex-wrap: wrap;
  }

  .age {
    width: 688px;
    height: 81px;
  }

  /* easy section started */

  .tool-box {
    padding: 80px 40px;
    gap: 32px;
  }

  .tool-text {
    width: 328px;
    height: 222px;
  }

  .tool-text h2 {
    font-size: 36px;
    line-height: 45px;
    /* 125% */
    letter-spacing: -0.9px;
  }

  .tool-text p {
    font-size: 18px;
    line-height: 28px;
    /* 155.556% */
  }


  .icons {
    width: 328px;
    height: 164px;
    border-bottom-left-radius: 164px;
    border-bottom-right-radius: 164px;
    gap: 20px;
    padding-top: 16px;
  }

  .icons img {
    width: 60px;
    height: 60px;
  }

  .line2 {
    margin-left: 48px;
    gap: 20px;
  }


}